    @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Irish Grover', cursive;
    }
    
    header {
        width: 100%;
        height: 100vh;
        background: url(../img/bg-header.png);
        background-size: cover;
        padding-top: 40px;
    }
    
    nav {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul {
        display: flex;
    }
    
    nav ul li {
        margin: 0 20px;
        list-style: none;
    }
    
    nav ul li a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
    }
    
    nav ul li a:hover {
        border-bottom: 2px solid #fff;
    }
    
    #hero {
        margin: 0 auto;
        padding: 200px;
        text-align: center;
    }
    
    #hero h1 {
        color: #e8f00c;
        margin: 0;
        padding: 0;
    }
    
    #hero h2 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 200px;
    }
    
    #hero a.btn {
        background: #e8f00c;
        padding: 12px 30px;
        font-size: 30px;
        text-decoration: none;
        color: #808080;
        border-radius: 8px;
    }
    
    #hero a.btn:hover {
        padding: 27px 35px;
    }
    
    main {
        width: 100%;
        position: relative;
    }
    
    main #planes {
        width: 100%;
        background: #fff;
        padding: 100px 0;
        text-align: center;
    }
    
    main #planes .container {
        width: 1200px;
        margin: 0 auto;
    }
    
    main #planes .container h2 {
        font-size: 46px;
    }
    
    main #planes .container p {
        font-size: 20px;
    }
    
    main #planes .container .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
    
    main #planes .container .col-4 {
        width: 259px;
        position: relative;
    }
    
    main #planes .container .col-4 h3 {
        position: absolute;
        top: 115px;
        margin: 0;
        left: 0;
        right: 0;
        color: #e8f00c;
        text-transform: uppercase;
        font-size: 24px;
    }
    
    main #destinos {
        width: 100%;
        background: url(../img/bg-destinos.png);
        background-size: cover;
        padding: 100px 0;
        text-align: center;
    }
    
    main #destinos .container {
        width: 1200px;
        margin: 0 auto;
    }
    
    main #destinos .container h2 {
        font-size: 46px;
        color: #e8f00c;
    }
    
    main #destinos .container h3 {
        font-size: 30px;
        color: #fff;
    }
    
    main #destinos .container .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
    }
    
    main #contacto {
        width: 100%;
        background: #e8f00c;
        padding: 120px 0;
        text-align: center;
    }
    
    main #contacto .container .row {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    
    main #contacto .container .col-4 input {
        padding: 10px 20px;
        font-size: 20px;
        margin: 15px 10px;
        width: 340px;
        border-radius: 30px;
    }
    
    main #contacto .container .col-4 select {
        padding: 10px 20px;
        font-size: 20px;
        margin: 15px 10px;
        width: 390px;
        border-radius: 30px;
    }
    
    main #contacto div.row a.btn {
        background: #979c08;
        padding: 12px 30px;
        font-size: 30px;
        text-decoration: none;
        color: #fff;
        border: none;
    }
    
    main #pie {
        width: 100%;
        background: #000;
        padding: 50px 0;
        text-align: center;
    }
    
    main #pie .container h3 {
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }